@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;700&display=swap');
}


.leg > .leg-inner{
position: absolute;
height: 65%;
width: 100%;
top: 100%;
transform-origin: center top;
animation: legInnerMove infinite var(--duration) calc(var(--delay, 0s));
}


@keyframes legInnerMove{
from, to { transform: none; }
33% { transform: rotate(70deg); }
76% { transform: none; }
}


.leg > .leg-inner::before{
content: "";
width: 45px;
height: 45px;
background-color: var(--color);
position: absolute;
border-radius: 50%;
top: -22.5px;
}


.leg > .leg-inner > .fur{
width: 100%;
height: 100%;
position: absolute;
overflow: hidden;
}


.leg > .leg-inner > .fur::after{
content: "";
position: absolute;
width: 100%;
height: 150%;
top: 0;
left: 0;
background-color: var(--color);
transform-origin: center top;
transform: rotate(15deg);
}


/* Wenn JS den Hund bewegt, geben wir extra "run" vibes */
.dog.running .dogArt{ filter: drop-shadow(0 18px 55px rgba(0,0,0,.22)); }
.dog.grab .dogArt{ transform: rotate(-6deg) scale(1.02); transform-origin: center; }


@media (max-width: 900px){


body{ overflow:hidden; }
}


@media (max-width: 640px){
.stage{ padding-top: calc(env(safe-area-inset-top, 0px) + 12px); }
}


/* extra-small phones */
@media (max-width: 520px){
.card{ width: 94vw; }
.btn{ width: 90vw; }
.dog{ transform: translateZ(0) scale(0.54); }
}


}


/* Optional: reduce motion for accessibility */
@media (prefers-reduced-motion: reduce){
body{ animation: none; }
body::after{ animation: none; }
.dogArt, .dogArt *{ animation: none !important; }
.heart-pop{ animation: none; opacity: 1; }
}


body::after{ animation: none; }
.dog-body{ animation: none; }
.dog.running .dog-body{ animation: none; }
.dog.returning .dog-body{ animation: none; }
.heart-pop{ animation: none; opacity: 1; }
}
